debugpy
ipykernel
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
packaging
parso
pickleshare
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
python-dateutil
pywin32
pyzmq
setuptools
six
stack-data
tornado
traitlets
typing_extensions
urllib3
wcwidth
wheel
zipp
